In [1]:
#1.
word = 'my name is james'
print(word)

my name is james

In [3]:
#2.
st = 'state'
print('i am from a well known village with good culture in kogi', st)

i am from a well known village with good culture in kogi state

In [9]:
#A
totalmoney = 1000
quantity = 3
price = 450
report ='i have {} dollars so i can buy {} football for {} dollars'
print(report.format(totalmoney,quantity,price))

i have 1000 dollars so i can buy 3 football for 450 dollars

In [1]:
num = 458
num = float(458.0)
print(num)

458.0

In [1]:
name1 = input('please enter your name:')
name2 =input('please enter your name:')
name3 = input('please enter your name:')

please enter your name:thomas
please enter your name:frank
please enter your name:bruce

In [2]:
poem = '''roses are red
violets are blue
i just want to say i love you
'''
print(poem.upper())

ROSES ARE RED
VIOLETS ARE BLUE
I JUST WANT TO SAY I LOVE YOU

In [8]:
# compound intrest formula = A = p*(1+r/n)n*t or A = p*(1+r/100)*t or A= [p(1+r)n]-1
p = 5000
r = 0.06
t = 3
A = (5000*1+0.06*3)-1
print(f'the amount for first yr is{A}')

the amount for first yr is4999.18

In [9]:
#if
A = 4999.18
#then
A + p

9999.18

In [10]:
#2nd year
p = 9999.18
r = 0.06
t =3
A = (9999.18*1+0.06*3)-1
print(f'the amount for second year is {A}')

the amount for second year is 9998.36

In [11]:
#if
A = 9998.36
#then
A + p

19997.54

In [12]:
#3rd year
p = 19997.54
r = 0.06
t = 3
A = (19997.54*1+0.06*3)-1
print(f'the amount for third year is {A}')

the amount for third year is 19996.72

In [13]:
#if 
A = 19996.72
#then
A + p

39994.26

In [1]:
#N/a

In [14]:
# Tuple
num = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

In [15]:
print(num[9])

58

In [16]:
print(num.count(55))

5

In [22]:
print(num[6:13])

(49, 51, 51, 58, 50, 55, 53)

In [27]:
# list
import random as rn
print(dir(rn))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [31]:
print(num)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [42]:
num = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]

In [43]:
print(rn._repeat(num))

repeat([46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55])

In [51]:
print(num[9])

58

In [52]:
print(num.count(51))

2

In [63]:
num.reverse()
print(num)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 69, 69, [69], [69], 6, 69, 69, 69, 46, 55, 55, 47, 57, 55]

In [62]:
num.insert(6, 69)
print(num)

[55, 57, 47, 55, 55, 46, 69, 69, 69, 6, [69], [69], 69, 69, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [64]:
numbers = [89,85,36,95,45,78]
num.extend(numbers)
print(num)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 69, 69, [69], [69], 6, 69, 69, 69, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

In [68]:
# dictionary where epl=english premier league, l=location, mn=manager's name, cc=club captain, nw=networth, cf=clubformation.
epl = {
    'chelsea':['l','mn','cc','nw','cf'],
    'arsenal':['l','mn','cc','nw','cf'],
    'mancity':['l','mn','cc','nw','cf'],
    'manunited':['l','mn','cc','nw','cf'],
    'tottenham':['l','mn','cc','nw','cf'],
    'leister':['l','mn','cc','nw','cf'],
    'wolves':['l','mn','cc','nw','cf'],
    'southhampton':['l','mn','cc','nw','cf'],
    'bristol':['l','mn','cc','nw','cf'],
    'birminghamfc':['l','mn','cc','nw','cf']
}