# assignment

In [12]:
import datetime

In [13]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [15]:
normdate = datetime.date.today()
print(normdate)

2022-05-05

In [19]:
normdate = datetime.date(2022,5,5)
print(normdate)

2022-05-05

In [27]:
print(normdate.year)
print(normdate.month)
print(normdate.isoweekday())
print(normdate.weekday())
print(normdate.day)

2022
5
4
3
5

In [34]:
currentdate = datetime.datetime.today()
previousdate = datetime.datetime.today() - datetime.timedelta(days = 1)
nextday = datetime.datetime.today() + datetime.timedelta(days = 1)
print(currentdate)
print(previousdate)
print(nextday)

2022-05-05 13:42:42.185668
2022-05-04 13:42:42.186671
2022-05-06 13:42:42.186671

In [38]:
tdelta = datetime.timedelta(days = 50)
currentdate + tdelta

datetime.datetime(2022, 6, 24, 13, 42, 42, 185668)

In [39]:
currentdate - nextday

datetime.timedelta(days=-2, seconds=86399, microseconds=998997)

In [40]:
num = int(input('enter a number:'))
if num >1:
    for i in range(2, num):
        if(num % i) == 0:
            print(num, 'this number is not a prime number')
            break
    else:
        print('is a prime number')
else:
    print(num, 'this is a prime number')

enter a number:45
45 this number is not a prime number

In [46]:
num = int(input('enter a number:'))
for i in range(1,4):
    if num >=5: 
        print('number is not in the range')
    else:
        print('number is in range')

enter a number:4
number is in range
number is in range
number is in range

In [53]:
word = ['234']

In [54]:
word.reverse()
print(word)

['234']